{% extends 'main/base.html' %} {% block content %}

<div class="login">
  {% if error %}
  <h5 style="color: red">{{error}}</h5>
  {% endif %}
  <form action="" method="POST">
    {% csrf_token %}

    <div>
      <label for="username">usuário</label>
      <input type="text" placeholder="Usuário" class="form-control" name="username" />
    </div>

    <div>
      <label for="password">senha</label>
      <input type="text" placeholder="Senha" class="form-control" name="password" />
      <input type="submit" value="Entrar" />
    </div>
  </form>
</div>

{% endblock %}