{% extends 'main/base.html'%}
{% load static %}
{% block content %}

<div id="main-page">
<form method="GET" action="." class=busca>
    <input type="text" id="busca-disc" name="barra" list="sugestoes-pesquisa"
    placeholder="Pesquisar disciplina...">
    <input type="image" class="btn" src="{% static 'main/images/lupa.png' %}">
    </input>
    <!-- <datalist id="sugestoes-pesquisa">
        <option value="Sistemas a eventos discretos"></option>
    </datalist> -->
</form>

{%for disci in disciplinas%}
<div class="card-materia">
<a class=disc href="{%url 'main:disciplina' disci.id %}">{{disci.nome}}</a>
</div>
{% endfor %}

</div>

{% endblock %}
